<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>331564015592-3vijl7sb2paifba4ofhrhp16c6jpjmjl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.331564015592-3vijl7sb2paifba4ofhrhp16c6jpjmjl</string>
	<key>API_KEY</key>
	<string>AIzaSyDaUmkXhU3NdVVrNLwgzybLWS-yh6kMM_c</string>
	<key>GCM_SENDER_ID</key>
	<string>331564015592</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gearsoffun.feedthespider</string>
	<key>PROJECT_ID</key>
	<string>feed-the-spider-40947787</string>
	<key>STORAGE_BUCKET</key>
	<string>feed-the-spider-40947787.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:331564015592:ios:e12b8bcc7344155a</string>
	<key>DATABASE_URL</key>
	<string>https://feed-the-spider-40947787.firebaseio.com</string>
</dict>
</plist>